@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
} 

.login-help{
    font-size: 12px;
}


.header-form-marticula{
    background-color: #CEF6CE;
    padding: 10px;
}
.cursos-selection div{
    border: double 1px #298A08;
    text-align: center;
}
.txt-matricula{
    background-color: #CEF6CE;
    text-align: center;
    border-top:#F7F7F7 solid 1px;
}
.legend{
    background-color: #CEF6CE;
    padding: 5px;
}
.border-show{
    border: outset 1px #298A08;
}
figcaption{
    text-align: center;
}
@media print{

    img{
/*        width: 60% !important;*/
    }

    header, nav{
        display:none !important;
    }
    p, label,li,table{
        font-size: 10px  !important;
    }

    .form-group, label,p {
        margin-bottom: 0px  !important;
    }
    .border-show{
        border: none  !important;
    }
    .invisible{
        display: none  !important;
        margin-top: 0  !important;
        margin-bottom: 0 !important;
    }
    h1,h2,h3,h4, .h4, h5, .h5, h6, .h6,legend{
        margin-top: 1px !important;
        margin-bottom: 1px !important;
    }
    legend{
        font-size: 12px !important;
        font-weight: bold !important;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 0px !important;
    }
    @page {
        size: legal; 
        margin-top: 10px;
        margin-left: 0cm;
    }
    .instrucciones h4{
        font-size: 9px  !important;
        font-weight: bold  !important;
    }
    .instrucciones ol li{
        font-size: 7px  !important;
        margin: 0px !important;
    }
    .title_dat h5{
        font-size: 9px  !important;
    }
    .title_dat h6{
        font-size: 9px  !important;
    }
    figcaption{
        font-size: 9px  !important;
    }
}